.grid-fullscreen {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 60px;
}
.bg-success {
	background: #aea !important;
}
.bg-pending {
	background: #eea !important;
}
.bg-failed {
	background: #eaa !important;
}