<div ng-controller="createController as ctrl">
<form class="col-md-6 col-md-push-3">
<div class="form-group">
    <label for="exampleInputEmail1">URL</label>
    <input type="text" ng-model="ctrl.form.url" class="form-control" required>
</div>
<div class="form-group">
    <label for="exampleInputEmail1">Enter body</label>
    <textarea ng-model="ctrl.form.body" class="form-control" required></textarea>
</div>
<button type="submit" ng-click="ctrl.submit()" class="btn btn-default">Submit</button>
</form>
</div>