<!DOCTYPE html>
<html ng-app="App">

<head>
	<title>OpenProvider HTTP Sender Application</title>

	<link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular/angular-route.min.js"></script>

	<link href="vendor/ui-grid/ui-grid.min.css" rel="stylesheet">
	<script src="vendor/ui-grid/ui-grid.min.js"></script>
	<script src="vendor/angular-jsonrpc-client.js"></script>

	<script src="js/app.js"></script>
	<script src="js/controllers/baseController.js"></script>
	<script src="js/controllers/homeController.js"></script>
	<script src="js/controllers/createController.js"></script>
</head>

<body ng-controller="baseController as baseCtrl">
<div class="container-fluid">

    <div class="row">

        <nav class="navbar navbar-default">
        <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{baseCtrl.appName}}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li ng-class="{'active':baseCtrl.isActive('/')}"><a href="#">Show requests</a></li>
        <li ng-class="{'active':baseCtrl.isActive('/create')}"><a href="#/create">Create a Request</a></li>
        <li><a href="/api/cron" target="_blank">Send</a></li>
        </ul>
        </div>
        </div>
        </nav>
    </div>

    <div class="row">
	<div ng-view></div>
    </div>

</div>
</body>

</html>